APP_PORT=8000
APP_HOST=localhost
APP_URL=${APP_HOST}:${APP_PORT}
ALLOWED_ORIGINS=http://${APP_HOST}:${APP_PORT},https://yourdomain.com
GIN_MODE=realese

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_NAME=testing
POSTGRES_SSL_MODE=disable
POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_NAME}"

JWT_SECRET=secret